BasedOnStyle: Google
Language: C
ColumnLimit: 512
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AlwaysBreakBeforeCBraces: true
BreakBeforeStructsAndClasses: Allman
AllowShortBlocksOnASingleLine: Never
AlwaysUseBraces: Always
SpaceBeforeParens: Always
SpaceBeforeFunctionName: false
SpaceAfterCStyleCast: true
ContinuationIndentWidth: 4
AlignAfterOpenBracket: AlwaysBreak
BreakBeforeBinaryOperators: All
BreakAfterJavaNestedTypeSpecifier: true
PointerAlignment: Right
SortIncludes: true
